.nav {
	background: rgb(35, 35, 35);
	color: #fff;
}

.navbar-brand {
	color: #fff;
	text-size-adjust: 250px;
}

.navbar-brand:hover {
	color: #fff;
}

.btn {
	background: #fff;
	color: #000;
	border: 1px solid rgb(121, 120, 120);
	padding: 10px 20px;
	margin: 10px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	--bs-btn-focus-shadow-rgb: 121, 120, 120;
}

.btn:hover {
	background: rgb(121, 120, 120) !important;
	color: #fff;
	border: 1px solid rgb(121, 120, 120) !important;
}

.btn:focus {
	box-shadow: #000 !important;
	background: rgb(121, 120, 120) !important;
	color: #fff;
	border: 1px solid rgb(121, 120, 120) !important;
}

.popup-box {
	position: fixed;
	background: #00000050;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 999;
}

.box {
	position: relative;
	width: 50%;
	margin: 0 auto;
	height: auto;
	max-height: 70vh;
	margin-top: calc(100vh - 85vh - 20px);
	background: #fff;
	border-radius: 4px;
	padding: 20px;
	border: 1px solid #999;
	overflow: auto;
	z-index: 1000;
}

.close-icon {
	content: 'x';
	cursor: pointer;
	position: fixed;
	right: calc(15% - 30px);
	top: calc(100vh - 85vh - 33px);
	background: #ededed;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
	border: 1px solid #999;
	font-size: 20px;
	z-index: 100;
}

/* user-card grid 3 per line */
.user-info {
	padding-top: 20px;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

/* user-card */
.user-card {
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 4px;
	padding: 20px;
	border: 1px solid #999;
	overflow: auto;
}

input {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 10px;
	margin-bottom: 20px;
}
.btns {
	display: flex;
	justify-content: space-between;
}

.del {
	position: relative;
	display: flex;
	flex-direction: colunm;
	align-items: center;
	width: 30%;
}
